{% extends "layout/layout.html" %}


{% block content %}
<nav class="navbar navbar-light bg-info">
  <p class="h1 title pl-2">{{task.task_type.name}}</p>
</nav>

<div class="p-3">
  {% if isN3 %}
  <div>
    <p class="h3 text-white">Chamado
      <hr>
    </p>
    <form class="row" action="/addOrder/" method="POST">
      <div class="form-group col-2">
        <input type="hidden" name="taskId" value="{{task.id}}">
        <label for="aggregator" class="bmd-label-floating">Agregador</label>
        <input type="text" class="form-control" id="aggregator" name="aggregator" value="{{task.order.aggregator}}">
      </div>
      <div class="form-group col-2">
        <label for="orderNumber" class="bmd-label-floating">Número do chamado</label>
        <input type="number" class="form-control" id="orderNumber" name="orderNumber" value="{{task.order.number}}">
      </div>
      <div class="form-group col-2">
        <label for="clientId" class="bmd-label-floating">Id Cliente</label>
        <input type="text" class="form-control" id="clientId" name="clientId" value="{{task.order.client_id}}">
      </div>
      <div class="form-group col-4">
        <label for="clientName" class="bmd-label-floating">Cliente</label>
        <input type="text" class="form-control" id="clientName" name="clientName" value="{{task.order.client_name}}">
      </div>
      <button type="submit" class="btn btn-primary"> <i class="material-icons">save</i> Salvar  </button>
    </form>
  </div>
  {% endif %}
  <div class="mt-5">
    <div class="row">
      <div class="col-10 h3 text-white">Ações </div>
      <div class="col">
        {% if task.running %}
        <a href="/finalize/{{task.id}}" class="btn btn-success">
          <i class="material-icons">thumb_up</i> Finalizar 
        </a>
        {% else %}
        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#formAction"
          aria-expanded="false" aria-controls="formAction" onclick="setInit()">
          <i class="material-icons">add</i>Nova
        </button>
        {% endif %}
      </div>
      <hr>
    </div>

    <div class="collapse" id="formAction">
      <form action="/addAction/" method="POST" class="row mt-5">
        <div class="form-group col-7">
          <input type="hidden" name="taskId" value="{{task.id}}">
          <label for="description">Descrição</label>
          <textarea class="form-control" id="description" name="description" rows="2"></textarea>
        </div>
        <div class="form-group col-3">
          <label for="init">Inicio</label>
          <input type="datetime-local" class="form-control" id="init" name="init" style="height: 53px;"></input>
        </div>
        <button type="submit" class="btn btn-primary"> <i class="material-icons">save</i> Salvar</button>
      </form>
    </div>

    <table class="table">
      <thead class=" text-primary">
        <th>Descricao</th>
        <th>Data Inicio</th>
        <th>Data Fim</th>
      </thead>
      <tbody>
        {% for action in task.actions %}
        <tr>
          <td style="width: 65%;">{{ action.description }}</td>
          <td>{{ action.init }}</td>
          <td> {{action.finish if action.finish}} </td>
        </tr>
        {% endfor %}
      </tbody>
  </div>
</div>
<script>
  function setInit() {
    const data = new Date();
    const month = ("0" + (data.getMonth() + 1)).slice(-2)
    const day = ("0" + (data.getDate())).slice(-2)
    const hour = ("0" + (data.getHours())).slice(-2)
    const minute = ("0" + (data.getMinutes())).slice(-2)
    const dataFormatada = `${data.getFullYear()}-${month}-${day}T${hour}:${minute}`;

    const input = document.getElementById("init");
    input.value = dataFormatada
  }
</script>
{% endblock %}